@import "semantic-ui";

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    cursor: pointer;
  }
}

.time-sent {
  font-size: .8rem;
  color: gray;
  margin-right: 1rem;
}

.center_reveal {
  display: block;
  text-align: center;
  margin: .6rem 0;
  cursor: pointer;
}

.user_container {
  padding: 1rem 0;
}